header {
  background: #eee;
}

main {
  background: #ddd;
  display: flex;
  justify-content: space-between;
}

.form {
  width: 50%;
}

.page {
  width: 50%;
}

.md-paper {
  margin: 3em 5em;
  padding: 2em;
  font-size: 1.5em;
  background: white;
}
