.main {
  margin: 0 2em;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
}

.md-paper {
  margin: 1em;
  padding: 2em;
  font-size: 1.1em;
  background: white;
  white-space: pre-wrap;
}

textarea {
  overflow: hidden;
}
